/* Import google font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.slider{
    display: flex;
    align-items: center; /*set items : center*/
    /* set content : center */
    justify-content: center;
    min-height: 100vh;
    background: url('/assets/img/background.png');
    padding: 0 10px;
}
.title{
    color: #000;
    font-weight: 800;
    background-color: darkslategray;
    padding-left: 15px;
    height: 70px;
    line-height: 70px;
    position: fixed;
    width: 100%;
}
.title h1:hover{
    color: darkred;
    cursor: pointer;
}
/* HEADER */
.wrapper{
    padding: 35px 40px;
    /* use responsive */
    /* width: 780px; */ 
    background: #141414;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15);
}

.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b2b2b2;
}
header h2{
    font-size: 1.6rem;
    padding-right: 15px;
    color: crimson;
}
header .column{
    display: flex;
    align-items: center;
}
header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}
.volume-slider input{
    accent-color: #fff;
    outline:none;
}
.keys-checkbox input{
    appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: #4b4b4b;
    cursor: pointer;
    position: relative;
}
.keys-checkbox input::before{
    content:"";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left:0;
    border-radius: inherit;
    background-color: #8c8c8c;
    transform: translateY(-50%);
    transition:all 0.3s ease;
}
.keys-checkbox input:checked::before{
    background-color: #fff;
    left:35px;
}
/* fix */
.keys-checkbox span{
    padding-left: 15px;
}

/* CSS FOR KEYS */

.piano-keys {
    display: flex;
    margin-top: 40px;
}
.piano-keys .key{
    list-style: none;
    cursor: pointer;
    user-select: none;
    color: #a2a2a2;
    text-transform: uppercase;
    position: relative;
}
.piano-keys .key.hide span{
    display: none;
}
.piano-keys .white{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    background:linear-gradient(#fff 96%,#eee 4%);
    border: 1px solid #000;
}

/*before : white:active
because, step : when the keyboard pressed , the button will be had effect
so , we use to pseudo  */
.piano-keys .white:active{
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom,#fff 0% , #eee 100%);
}
.piano-keys .black{
    width: 44px;
    height: 140px;
    margin: 0 -22px ;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    background:linear-gradient(#333 96%,#000 4%);
}
.piano-keys .black:active{
    box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom,#000 , #434343);
}

.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}


/* ========= FOOTER ===== */
/* Map section */
/* .map-section img {
    width: 100%;
} */
#footer {
    padding: 64px 16px;
    text-align: center;
    height: 100px;
    background-color: darkslategray;;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
} 

.ti-facebook:hover
{
    color: blue;
}
.ti-youtube:hover{
    color: red;
}
/* =============== RESPONSIVE ========== */
@media screen and (max-width: 815px) {
    .wrapper {
      padding: 25px;
    }
    header {
      flex-direction: column;
    }
    header :where(h2, .column) {
      margin-bottom: 13px;
      margin-left: 10px;
    }
    .volume-slider input {
      max-width: 100px;
    }
    .piano-keys {
      margin-top: 20px;
    }
    .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
      display: none;
    }
    .piano-keys .black {
      height: 100px;
      width: 40px;
      margin: 0 -20px 0 -20px;
    }
    .piano-keys .white {
      height: 180px;
      width: 60px;
    }
  }
  @media screen and (max-width: 615px) {
    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key :nth-child(17) {
      display: none;
    }
    .piano-keys .white {
      width: 50px;
    }
}